body{
    font-family: "Karla", sans-serif;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 0.06em;
    font-size: 11.35px;
    color: #242424;
    transition: color 0.3s ease-in;
}

.navbar-nav .nav-item .active{
    color: #af7f66;
}

.nav-link:hover{
    color:#af7f66; 
}



.article{
    max-width: 100%;
    min-height: 90vh;
    background-image: url(/assests/h4-copyright.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.article .divArticle{
    width: 450px;
    height: 40%;
    padding: 40px 70px;
    box-sizing: border-box;
}
.article .hero-title{
    color: white;
    font-size: 4rem;
    font-family: "Libre Baskerville",sans-serif;
}

.article .hero-info{
    color: #868686;
    font-size: 14px;
}


.article .hero-link{
    color: white;
    padding: 0.9em 1.7em;
    border: 3px solid #43403F;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
    transition: all  0.3s ease-in;
    
}

.hero-link:hover{
    color: #272626;
    background-color: white;
}


.hero-footLink a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.hero-footLink a:hover{
    text-decoration: underline;
}


.headerSection {
    font-family: "Libre Baskerville",sans-serif;;
}

.infoSection{
 color: #868686;
}


.card-group .card ,.card-footer{
    background-color: #F8F7F6;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(0.95);
}
.price{
    color: #af7f66;
}
.buyNow{
    color: #af7f66;
    text-decoration: none;

}

.buyNow:hover{
    text-decoration: underline;
}