body{
    font-family: "Karla", sans-serif;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 0.06em;
    font-size: 11.35px;
    color: #242424;
    transition: color 0.3s ease-in;
}

.navbar-nav .nav-item .active{
    color: #af7f66;
}

.nav-link:hover{
    color:#af7f66; 
}



.article{
    max-width: 100%;
    min-height: 90vh;
    background-image: url(/assests/h4-copyright.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.article .divArticle{
    width: 450px;
    height: 40%;
    padding: 40px 70px;
    box-sizing: border-box;
}
.article .hero-title{
    color: white;
    font-size: 4rem;
    font-family: "Libre Baskerville",sans-serif;
}

.article .hero-info{
    color: #868686;
    font-size: 14px;
}


.hero-link{
    color: white;
    padding: 0.9em 1.7em;
    border: 3px solid #43403F;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
    transition: all  0.3s ease-in;
    
}

.hero-link:hover{
    color: #272626;
    background-color: white;
}


.hero-footLink a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.hero-footLink a:hover{
    text-decoration: underline;
}


.headerSection {
    font-family: "Libre Baskerville",sans-serif;
}

.infoSection{
 color: #868686;
}


.card-group .card ,.card-footer{
    background-color: #F8F7F6;
    border: none;
    transition: transform 0.3s ease-in-out;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover{
    transform: scale(0.95);
}
.price{
    color: #af7f66;
}
.buyNow{
    color: #af7f66;
    text-decoration: none;

}
.buyNow:hover{
    text-decoration: underline;
} 

.imgRight{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.learn-more{
    color: #242424;
    text-decoration: none;
    padding: 0.9em 1.7em;
    border: 3px solid #d7d6d5;
    line-height: 22px;
    transition: all 0.3s ease-in;
    
}

.learn-more:hover{
    color: white;
    background-color: #242424;
}




/* styling watch featurees section */
.features{
    background-color: #F8F7F6;
}

 .number{
    color: #868686;
}

.watchId{
    color: #242424;
}

.watchInfo{
    color: #868686;
}



/* repair section & repair cards section */

span .buyNow{
    font-size: 2.5rem;
    color: #242424;
    font-family:"Libre Baskerville",sans-serif; ;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
      
      
      
}
span .buyNow:hover{
    text-decoration-color: rgb(0, 0, 0);
}



/* styling blog section */
.blog{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blog .blog1{
    background: rgba(0, 0, 0, 0.3) url(/assests/image-4-copyright-1410x792.jpg);
    min-height: 600px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-blend-mode: darken;
    transition: all 0.3s ease-in-out;
}



.blog .blog2{
    background: rgba(0, 0, 0, 0.3) url(assests/image-30-copyright-1410x792.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

}

.blog .blog3{
    background: rgba(0, 0, 0, 0.3) url(assests/image-45-copyright-1410x792.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


.blogContent .blogDate{
    color: white;
    font-size: 11px;
}

.blogContent .blogHeading{
    color:white;
    font-size: 26px;
    font-family: "Libre Baskerville",sans-serif;
    text-decoration: none;
}

.blogContent .blogLink{
    text-decoration: none;
    color:white;
    font-size: 15px;
    
}

.blogDate,.blogHeading,.blogLink{
    transition: color 0.3s ease-in-out;
}
.blogDate:hover , .blogHeading:hover , .blogLink:hover{
    color: #AF7F66;
    cursor: pointer;
}

/* styling footer */
footer{
    background-color: #272626;
    color: white;
    
}

.first1 {
    border-right: 1px solid gray;
    box-sizing: border-box;
}

.asideLeft .footerHeading{
    
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6em;
}

.asideLeft .footerInput{
    padding: 10px 13px;
    width: 60%;
    background-color: #343333;
    border: 2px solid #343333;
    color: #989898;
    border-radius: 0;
    transition: border-color 0.3s ease;
}

.footerInput:focus{
    border-color: white;
    outline: none;
    color:white;
}

.footerButton{
    padding: 0.9em 1.7em;
    background-color: white;
    text-decoration: none;
    color: #242424;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
   
    
}
.footerButton::before{
    content: '';
    background-color: #AF7F66;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: -1;
    
}

.footerButton:hover::before{
    transform: translateX(0);
}

.footerButton:hover{
    color: white;
}

.asideRight .asideHeading{
    font-size: 13px;
    letter-spacing: 0.1em;
}

.asideRight .footerLinks{
    padding-left: 0;
    list-style: none;
    line-height: 1.7em;
    font-size: 13px;
    margin-top: 1.8rem;
    cursor: pointer;
}

.footerLinks li{
    margin: 10px 0;
    
}
